<div class="navbar-container">

  <!-- Top navbar -->
  <mat-toolbar class="navbar mat-elevation-z6">

    <button mat-button (click)="openAppointmentDialog()">
      <mat-icon>calendar_today</mat-icon>
      New Apointment
    </button>

    <button mat-button (click)="setMonth(-1)"><mat-icon>navigate_before</mat-icon></button>
    {{date | date}}
    <button mat-button (click)="setMonth(+1)"><mat-icon>navigate_next</mat-icon></button>

    <!-- <mat-form-field class="mat-select-view-option">
      <mat-label>View Options</mat-label>
      <mat-select [(ngModel)]="selectedViewOptions" name="viewOptions">
        <mat-option *ngFor="let option of enumViewOptions | keyvalue" [value]="option.value">
          {{option.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>  -->

    <mat-form-field name="selectPolicy" class="mat-select-view-option">
      <mat-select [(ngModel)]="selectedViewOptions" (selectionChange)="navigateTo($event.value)">
        <mat-option *ngFor="let option of enumViewOptions | keyvalue" [value]="option.value">
          {{option.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>    

    <div class="top-navbar-item">

      <button mat-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
      </button>
      <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
        <a mat-menu-item>
          <span>Next appointment 1</span>
        </a>
        <a mat-menu-item>
          <span>Next appointment 2</span>
        </a>
      </mat-menu>      

    </div>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav class="sidenav">

      <!-- <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
      <p>Selected date: {{selected}}</p> -->

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>