div {
  position: relative;
  display: inline-flex; 
  border: 1px solid #ccc;
  width: calc(100%/7 - 2px);  
  text-align: center;  
}

div.days{
  height: calc(100%/6 - 16px);
}

div.days-of-week {
  font-weight: bold; 
}

div.grey {color: #ccc}

div:hover {background-color: #ccc;}

.mat-chip{
  cursor: pointer;
}
