<li class="days-of-week" *ngFor="let day of days"> {{day}} </li>
<li class="days" *ngFor="let date of dateList"
    [ngClass]="{grey: !isSameMonth(date)}"
    (click)="selected.emit(date)">
    {{date | date:'d'}}

    <mat-chip-set>
        <mat-chip
            *ngFor="let appt of getAppointmentListByDate(date)">
            {{appt.title}}
        </mat-chip>
    </mat-chip-set>

    <!-- <mat-chip-set
    class="example-chip"
    cdkDropList 
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">
    <mat-chip
        class="example-box"
        cdkDrag
        *ngFor="let appt of getAppointmentListByDate(date)">
        {{appt.title}}
    </mat-chip>
    </mat-chip-set>     -->

</li>
