ul { margin: 0; padding: 0; list-style: none;}

li {
  display: inline-block; 
  border: 1px solid #ccc;
  width: calc(100%/7 - 2px);  
  text-align: center;  
}

li.days{
    height: calc(100%/6 - 16px);
    cursor: pointer;
}

li.days-of-week {
    font-weight: bold; 
}

li.grey {color: #ccc}

li:hover {background-color: #ccc;}